header a {
    font-size: 0.75em;
    font-weight: lighter;
}

header h3 {
    font-size: 0.95em;
    font-weight: normal;
}

header h1 {
    font-size:3.6em;
    font-weight: lighter;
}

header p {
    font-size: 0.9em;
}

.news h3 {
    font-weight: lighter;
}

.news p {
    font-size: 0.9em;
    font-weight: lighter;
}

.news a, .products a {
    font-size: 0.9em;
}

.staff h2 {
    font-size: 2.6em;
    font-weight: normal;
}

.products h2 {
    font-size: 2.6em;
    font-weight: normal;
}